.logo{

  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.logo img{
  width: 88px;
  border-radius: 10px;
}

.logo div{
  font-size: 25px;
  font-weight: bold;
  color: #326789;
  font-family: 'Rubik', sans-serif;
}
.logincontain{

  height: 550px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.cbtn{
  background-color: #326789;
  height: 50px;
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
}

.lll{
  width: 80%;
  font-family: 'Rubik', sans-serif;
}
.titr{
  color:#326789;
}

.int{
  height: 50px;
  border-radius: 10px;
}
.sinsin{
  color: #326789;
}
.sinsin a{
 color: rgb(0, 0, 171);
 text-decoration: none;
}
.formtit
{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}

.google{
  width: 80%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  font-weight: bold;
}

.google img{
 width: 30px;
}
