.tabs{
  bottom: 0px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  color: #326780;
  font-weight: bold;
  border-top: 0.5px rgba(112, 110, 110, 0.573) solid;
}
