.tabs{
  bottom: 0px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  color: #326780;
  font-weight: bold;
  border-top: 0.5px rgba(112, 110, 110, 0.573) solid;
}
.header{
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #E9EEF2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}
.logoname{
  font-size: 22px;
  font-weight: bold;
  color: #326789;
}
.searchicon{

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40px;
}
.searchicon div{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #326780;
  font-size: 20px;
}
.hicon{
  background-color:#326789;
  padding: 8px;
  border-radius: 50%;
  color: #ffffff;
}
.hicon ion-icon{
  font-size: 20px;
}
.profile{
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proimg{
  width: 150px;
  height: 150px;
  background-color: #326789;
  border-radius: 50%;

}
.proimg img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.namepro{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-family: 'Rubik', sans-serif;
  color: #326789;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;

}
.info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;
  margin-bottom: 50px;
  font-family: 'Rubik', sans-serif;
}
.infoo{
  width: 90%;
  height: 50px;
  // border-bottom: solid rgba(84, 82, 82, 0.381) 1px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  color: rgb(132, 131, 131);
  font-size: 16px;

}
.logoutbtn{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoutbtn button{
  bottom: 0px;
  color: #326789;
  width: 90%;
  height: 60px;
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}
.logoutbtn button i{
  font-size: 22px;
}
